@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom animation for scrolling */
@layer utilities {
  .animate-scroll {
    animation: scroll-left 20s linear infinite;
  }

  @keyframes scroll-left {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }
}
